*.jpg
*.pyc
*.txt
*.png
*.pdf
*.xls
*.mat
*.pt
*.gz
*.hdf
*.hdf5
*.sh*
*tfevents*
*.p
*.out
*.csv
digits/data/mnist/raw/t10k-images-idx3-ubyte
digits/data/mnist/raw/t10k-labels-idx1-ubyte
digits/data/mnist/raw/train-images-idx3-ubyte
digits/data/mnist/raw/train-labels-idx1-ubyte
digits/data/mnist/MNIST/raw/t10k-images-idx3-ubyte
digits/data/mnist/MNIST/raw/t10k-labels-idx1-ubyte
digits/data/mnist/MNIST/raw/train-images-idx3-ubyte
digits/data/mnist/MNIST/raw/train-labels-idx1-ubyte
*.py~
/pacs/runs/*
*.tar
*.DS_Store
~            
